.content-box {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}
.window {
  transform: translate(0, 0) scale(1, 1) skew(0deg, 0deg);
}
.window.minimized {
  transform: translate(100vw, 100vh) scale(0, 0) skew(-20deg, 0) !important ;
}

.transition {
  transition: transform 0.5s ease;
}

.top-bar {
  width: 100%;
  height: 30px;
  background-color: rgba(40, 94, 86, 1);
  position: absolute;
  top: 0;
}
.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
}

.content-btn-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.content-btn-box ul {
  width: 100%;
  padding-left: 5px;
  display: inline-flex;
}
.content-btn-box ul li {
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.content-btn-box ul li span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.red-bt {
  background-color: #ec6a5e;
}
.yellow-bt {
  background-color: #f4bf50;
}
.green-bt {
  background-color: #61c554;
}
.view {
  width: 100%;
  padding-top: 30px;
  display: flex;
}
.left-nav {
  width: 60px;
  height: 100%;
  background-color: rgba(74, 164, 157, 1);
  flex-shrink: 0;
}
.left-nav ul li {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-nav ul li span {
  font-size: 30px;
  color: rgba(73, 73, 73, 0.5);
}
.left-nav ul li:hover span {
  color: rgba(73, 73, 73, 0.8);
}
.left-nav ul li span.select {
  font-size: 30px;
  color: rgba(40, 40, 40, 1);
}
.view-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.user-info {
  width: 100%;
  padding: 20px 0;
  display: flex;
}

.user-image {
  width: 40%;
}

.user-name {
  flex-grow: 1;
}
.user-name ul {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.user-name ul li {
  padding: 5px 10px;
}
.user-image-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  max-width: 150px;
  justify-content: center;
}
.readMe {
  padding: 5px;
  flex-grow: 1;
  overflow: scroll;
}
.readMe div {
  overflow: scroll;
  max-height: 90%;
  width: 100%;
}
.readMe h3 {
  color: rgba(74, 164, 157, 1);
  font-size: 1.5rem;
}
.readMe div p {
  margin: 10px 0;
}
.chat {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;

}
.chat h2 {
  font-size: 1.5rem;
}

.chat ul {
  width: 100%;
  flex-grow: 1;
  overflow: scroll;
}
.chat ul li {
  display: flex;
  height: 60px;
  padding: 5px 0;
  
}
.chat ul li:hover{
  background-color: rgba(154, 156, 156, 0.1);
}
.chat ul li .chat-img {
  width: 60px;
  height: 100%;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.chat ul li .chat-img > div {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
}
.chat ul li .chat-text {
  flex-grow: 1;
}
.chat .text-inner {
  display: flex;
  padding: 5px 3px;
  justify-content: space-between;
  align-items: center;
}
.chat-text .sender{
  font-weight: bold;
}
.chat-text .timestamp{
  font-weight: lighter;
  font-size: 12px;
}
.chat-text .message{
  width:95%;
  font-size: 0.9rem ;
}