.desktop {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.desktop.over {
  height: 100vh;
}
.window-box {
  width: 100%;
  height: 100%;
  background-image: url("./img/background/wallpaper.jpeg");
  background-size: 100% 100%;
  background-position: cover cover;
  background-repeat: no-repeat;
}

.menu-bar {
  height: 2%;
  background-color: #fff;
  opacity: 0.6;
}
.menu-bar ul {
  display: inline-flex;
  height: 100%;
}
.menu-bar ul li {
  display: inline-flex;
  padding: 0 10px;
  height: 100%;

  align-items: center;
  justify-content: center;
  cursor: default;
}
.window {
  height: 98%;
  position: relative;
}
.window .content {
  width: 100%;
  height: 93%;
  position: relative;
}
.window .dock {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 7%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.window .dock ul {
  display: inline-flex;
  height: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);

  align-items: center;
}

.icon {
  height: 85%;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}
.sample-icon {
  display: block;
  width: 100%;
  height: 100%;
  background: yellow;
}

.content-box {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-box .content-left {
  background-color: #4a4c4f;
  padding-left: 0.6rem;
  flex-shrink: 0;
}
.content-box .content-right {
  background-color: #1d2024;
  flex-grow: 1;
}
.content-btn-box {
  width: 100%;
  padding: 1.3rem 0;
}
.content-btn-box ul {
  width: 100%;

  display: inline-flex;
}
.content-btn-box ul li {
  margin: 0 5px;
}
.content-btn-box ul li span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.content-title span {
  color: #7d7f82;
  font-size: 0.8rem;
}

.content-list li {
  padding: 0.5rem 0;
  padding-left: 5px;
}
.content-list li span {
  color: #fff;
  font-size: 0.9rem;
}

.red-bt {
  background-color: #ec6a5e;
}
.yellow-bt {
  background-color: #f4bf50;
}
.green-bt {
  background-color: #61c554;
}
.resizer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.resizer .resizer-l {
  cursor: col-resize;
  height: 100%;
  left: 0;
  width: 5px;
  z-index: 99;
  position: absolute;
}
.resizer .resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  width: 5px;
  z-index: 99;
  position: absolute;
}
.resizer .resizer-b {
  cursor: row-resize;
  height: 100%;
  bottom: 0;
  width: 100%;
  height: 5px;
  z-index: 99;
  position: absolute;
}
.resizer .resizer-t {
  cursor: row-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  height: 5px;
  z-index: 99;
  position: absolute;
}

.content-right .bar{
  width: 100%;
  padding: 1.3rem 0;
  background-color:rgba(52, 54, 56, 1);
  color:#fff;
  cursor: grab;
}